@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');

:root {
    --primary-color: #000000;
    --secondary-color: #2B2B2B;
    --main-font: 'Montserrat', sans-serif;
    --text-color: white;
} 

body{
    background-color: var(--secondary-color);
}

.container{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    background-color: var(--primary-color);
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

h4{
    font-family: var(--main-font);
    text-align: center;
    padding: 10px;
    color: var(--text-color);
    
}

h5{
    font-family: 'Padauk', sans-serif;
    text-align: center;
    font-size: 17px;
    opacity: 0.5;
    color: var(--text-color);

}

input{
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border-style: none;
    background-color: var(--secondary-color);
    font-size: 10px;
    font-weight: 600;
    color: var(--text-color);
}

.messages{
    font-family: var(--main-font);
    color: var(--text-color);
}

/* display: inline-block will help us to avoid the text from  */
.message-item span{
    display: inline-block;
    padding:10px;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.submit{
    padding: 8px;
    border-radius: 5px;
    font-family: var(--main-font);
    font-size: 14px;
    color: white;
    background-color: #BBA14F;
    border-style: none;
} 